<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BettingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!--<img src="https://en.unesco.org/sites/default/files/styles/commemoration_header/public/commemorations/shutterstock_599738306.jpg?itok=uwCK97T9" alt="">-->
        <h2 align="center">Geriasias sporto lažybų tinklalapis visoje rytų Europoje...</h2>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Lažybų sitema  </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Sportas</a>
                        </li>
                        <!--<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>-->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Prizes/Index">Valdyti prizus</a>
                        </li>
                        <li class="nav-item">
                            <a>Patvirtinti vartotoją</a>
                        </li>
                        <li class="nav-item">
                            <a>Valdyti vartotojus</a>
                        </li>
                        <li class="nav-item">
                            <a>Valdyti sporto kategoriją</a>
                        </li>
                        <li class="nav-item">
                            <a>Valdyti turnyrus</a>
                        </li>
                        <li class="nav-item">
                            <a>Valdyti varžybas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Teams/Index">Valdyti komandas</a>
                        </li>
                        <li class="nav-item">
                            <a>Pranešimai</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BettingSystem - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
