@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <div>
            <nav class="navbar navbar-dark bg-primary">
                <a class="navbar-brand" href="#">
                    Paskutinės minutės lažyos
                </a>
            </nav>
        </div>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Futbolas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Krepšinis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ledo Ritulys</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mišrūs kovos menai</a>
                </li>
            </ul>
        </div>
        <div>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <td class="text-danger text-sm-left">Šiandien 22:00</td>
                        <td>Leixoes   2.40</td>
                        <td>x 2.95</td>
                        <td>Ferense   3.02</td>
                        <td>+3</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-danger text-sm-left">Šiandien 22:00</td>
                        <td>Chievo    1.88</td>
                        <td>x 3.10</td>
                        <td>Cosenza    4.53</td>
                        <td>+3</td>
                    </tr>
                    <tr>
                        <td class="text-danger text-sm-left">Šiandien 22:20</td>
                        <td>Estudiantes   2.15</td>
                        <td>x 2.95</td>
                        <td>Racing Club    3.54</td>
                        <td>+2</td>
                    </tr>
                    <tr>
                        <td class="text-danger text-sm-left">Šiandien 22:30</td>
                        <td>Leicester City    1.55</td>
                        <td>x 4.4</td>
                        <td>Aston Vilia    6.10</td>
                        <td>+51</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
